#cart {
  & #content-wrapper {
    max-width: 1550px;
    margin: 0 auto;
  }

  .separator {
    border-color: #000;

    &--left-column {
      @media (max-width:800px) {
        display: none;
      }
    }
  }

  .cart-item+.cart-item {
    border-top: 1px solid #B7B7B7;
  }

  & .cart-grid {
    margin-bottom: 37px;
    @include mqmax(desktop-sm) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mqmax(mobile) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  & .cart-grid-body {
    @include mqmax(desktop-sm) {
      width: 100%;
      float: none;
    }

    & .cart-overview {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }

    & .card-block {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & .product-line-grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-height: 136px;

    @media (max-width: 800px) {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 25px 0;
    }
  }

  & .product-line-grid-left {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;

    @include mqmin(desktop) {
      width: 100%;
    }

    @media (max-width: 800px) {
      width: calc(100% - 40px);
    }

    & .product-image {
      flex-shrink: 0;
      margin-right: 14px;
    }

    & img {
      width: 70px;
      height: 98px;
      object-fit: cover;
    }
  }

  & .product-line-desc {

    & .product-line-title {
      font-weight: 800;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1.28px;
      line-height: 19px;
    }

    & .product-line-sku {
      margin-top: 5px;
      color: #A5A5A5;
      font-size: 13px;
      line-height: 16px;
      line-height: 19px;
    }

    & .product-line-stock {
      margin-top: 2px;
      font-size: 13px;
      line-height: 16px;
      line-height: 19px;
      font-weight: 800;

      & .available {
        color: #00BE19;
      }

      & .low {
        color: #f39d72;
      }

      & .unavailable {
        color: #be0000;
      }
    }

    & .product-line-info {
      margin-top: 2px;
      color: #000;
      font-size: 13px;
      line-height: 16px;
      line-height: 19px;
    }
  }

  & .continue-shopping {
    display: inline-block;
    margin-top: 45px;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
    font-weight: 700;

    @include mqmax (desktop-sm) {
      display: block;
      // text-align: center;
      margin: 0 auto;
      width: fit-content;
    }

    &:hover {
      color: #000;
    }

    & .material-icons {
      margin-top: -2px;
      margin-right: 8px;
    }
  }

  & .product-line-grid-body {
    width: 15%;
    min-width: 150px;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 800px) {
      order: 5;
      text-align: right;
      width: auto;
      min-width: auto;
    }

    & .product-price {
      margin-bottom: 0;
    }

    & .current-price {
      color: #000;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 20px;
      line-height: 120%;
    }

    & .product-discount {
      margin-top: 4px;
      font-size: 16px;
      line-height: 120%;
    }

    & .regular-price {
      @media (max-width: 800px) {
        margin: 0;
      }
    }
  }


  & .qty {
    // display: flex;
    // justify-content: center;
    padding-left: 40px;

    // @include mqmin(desktop) {
    min-width: 150px;
    width: 20%;
    flex-shrink: 0;
    // }

    @media (max-width: 800px) {
      order: 3;
      width: auto;
      min-width: 120px;
    }
  }

  & .price-total {
    // @include mqmin(desktop) {
    min-width: 150px;
    width: 17%;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
    // }

    @media (max-width: 800px) {
      display: none;
    }
  }

  & .bootstrap-touchspin {
    box-shadow: none;
  }

  & input.form-control {
    width: 40px;
    height: 50px;
    border-left: none;
    border-right: none;
    text-align: center;
    border-color: #000;
    color: #000;
  }

  & .input-group-btn-vertical {
    position: absolute;
    left: -40px;
    right: -40px;
    display: flex;

    & .bootstrap-touchspin-up {
      display: inline-block;
      height: 50px;
      width: 50%;
      order: 2;
      border-color: #000;

      & i {
        top: 50%;
        left: auto;
        right: 13px;
        width: auto;
        height: auto;
        transform: translateY(-50%);
        margin-top: -3px;

        &::after {
          content: '+'
        }
      }
    }

    & .bootstrap-touchspin-down {
      display: inline-block;
      height: 50px;
      width: 50%;
      margin-top: 0;
      order: 1;
      border-color: #000;


      & i {
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        width: auto;
        height: auto;
        margin-top: -4px;

        &::after {
          content: '-';
          font-weight: 800;
        }
      }
    }
  }

  & .product-price {
    color: #000;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 120%;
  }

  & .remove-container {
    width: 40px;
    flex-shrink: 0;
    padding-right: 0;

    @media (max-width: 800px) {
      order: 2;
      align-self: center;
    }

    & .remove-from-cart {
      display: flex;
      justify-content: flex-end;
    }
  }

  & .custom-cart-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 120%;

    @media (max-width: 800px) {
      display: none;
    }

    & .custom-label {
      // padding-left: 15px;
      // padding-right: 15px;
    }

    & .product {
      flex-grow: 1;
      // @include mqmin(desktop) {
      width: 100%;
      // }
    }

    & .price {
      // @include mqmin(desktop) {
      width: 15%;
      min-width: 150px;
      flex-shrink: 0;
      padding-left: 0;
      padding-right: 0;
      // }
    }

    & .quantity {
      // @include mqmin(desktop) {
      min-width: 150px;
      width: 20%;
      flex-shrink: 0;
      // }
    }

    & .totals {
      // @include mqmin(desktop) {
      min-width: 150px;
      width: 17%;
      flex-shrink: 0;
      padding-left: 0;
      padding-right: 0;
      // }
    }

    & .delete {
      // @include mqmin(desktop) {
      width: 40px;
      flex-shrink: 0;
      padding-right: 0;
      // }
    }
  }




  & .cart-grid-right {
    padding-left: 21px;

    @include mqmax(desktop-sm) {
      width: 500px;
      max-width: 100%;
      float: none;
      margin: 45px auto 0;
    }

    & .cart_header_summary {
      padding: 1rem 0;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      line-height: 120%;
    }

    & .checkout {
      margin-top: 35px;
      padding-left: 0;
      padding-right: 0;

      & .btn {
        display: block;
        min-height: 56px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 56px;
        letter-spacing: 1.95px;
        font-weight: 800;
        border: none;
        box-shadow: none;
        font-size: 13px;
      }
    }
  }

  & .cart-summary-details {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #B7B7B7;
    margin-bottom: 26px;
    padding: 35px 0;

    @include mqmin(desktop-sm) {
      min-height:168px;
    }

    @media (max-width: 800px) {
      padding: 35px 0 50px;
      min-height: 168px;
    }

    & .cart-summary-line:nth-last-child(2) {
      flex-grow: 1;
    }

    & .label {
      font-size: 16px;
      line-height: 150%;
    }

    & .value {
      font-size: 16px;
      line-height: 150%;
    }
  }

  & .cart-summary-totals {
    padding-left: 0;
    padding-right: 0;

    & .cart-total {
      padding-left: 0;
      padding-right: 0;
      background: none;

      & .label {
        font-weight: 800;
      }

      & .value {
        font-weight: 800;
      }
    }
  }

  & .cart-voucher {

    & .active-vouchers {
      padding-top: 34px;
    }

    & .custom-close-button {
      margin-left: 10px;
    }

    & .promo-name {
      padding-top: 10px;
      padding-left: 0;
      padding-right: 0;

      & .label {
        font-size: 16px;
        line-height: 150%;
        flex-grow: 1;
        text-align: left;
      }

      & .value {
        font-size: 16px;
        line-height: 150%;
        color: #000;
        font-weight: normal;
      }

      & .cart-summary-line {
        display: flex;
        align-items: center;
      }
    }

    & .promo-code-button {
      font-size: 13px;
      font-weight: 800;
      line-height: 70px;
      padding: 0 20px;
      text-align: left;
      background: #F5F5F5;
      position: relative;

      &:first-child {
        margin-top: 34px;
      }

      &.active .custom-collapse-arrow-container {
        transform: translateY(-50%) rotate(180deg);
      }

      & .collapse-button {
        display: block;

        &:focus,
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }

    & #promo-code {
      background: #F5F5F5;

      & form {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
      }

      & .promo-input {
        width: 100%;
        font-size: 13px;
        height: 56px;
        margin: 0 -5px 0 0;
        color: #000;
        border-color: #000;
        border-right: none;
        outline: none;
        text-indent: 20px;

        &::placeholder {
          color: #000;
        }

        &+button {
          font-size: 13px;
          height: 56px;
          margin: 0;
          padding: 8px 15px;
          border-radius: 0;
          background: #fff;
          color: #000;
          border-left: none;
          border-width: 1px;
          box-shadow: none;
          text-transform: uppercase;
          font-weight: 800;

          &:active:hover {
            border-color: #000;
          }
        }
      }

      & .promo-code {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
      }

      & .cancel-promo {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}