#category.filter-bar-is-open {
  @include mqmax(mobile-xl) {
    overflow-y: hidden;
  }

  &::after {
    @include mqmax(mobile-xl) {
      display: block;
      content: "";
      z-index: 9999;
      background: #000000BB;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  & #left-column {
    @include mqmax(tablet) {
      display: block;
    }
  }
}

#category.sort-bar-is-open {
  &::after {
    @include mqmax(mobile-xl) {
      display: block;
      content: "";
      z-index: 9999;
      background: #000000BB;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @include mqmax(mobile-xl) {
    overflow-y: hidden;
  }

  .products-selection .sort-by-row .products-sort-order .custom-show-sorted {
    @include mqmax(mobile-xl) {
      display: block;
    }
  }

  .products-selection .sort-by-row .products-sort-order .custom-close-sort {
    @include mqmax(mobile-xl) {
      display: flex;
    }
  }

  & .products-selection .sort-by-row .products-sort-order .custom-sort-menu-wrapper {
    @include mqmax(mobile-xl) {
      display: block;
    }
  }

  & .products-selection .sort-by-row .products-sort-order .dropdown-menu {
    @include mqmax(mobile-xl) {
      display: block;
    }
  }
}

#category {
  .faceted-overlay {
    z-index: 10001
  }

  & #wrapper {
    border-top: 1px solid #EAEAEA;
    display: flex;
    flex-direction: row;

    @include mqmax(tablet) {
      // position: relative;
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
    
    & .breadcrumb {
      display: none;
    }
  }

  & #left-column {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #EAEAEA;

    @include mqmin(desktop-sm) {
      min-width: 300px;
    }

    @include mqmax(tablet) {
      border-right: none;
      background: #fff;
      position: absolute;
      z-index: 99;
      top: calc(182px + 8px + 80px);
      left: 35px;
      width: 400px;
      display: none;
    }

    @include mqmax(mobile-xl) {
      z-index: 10000;
      top: 0;
      left: 0;
      position: fixed;
      right: 0;
      bottom: 0;
      overflow: scroll;
      min-width: 310px;
      width: 91%;
      max-width: 100%;
    }

  }

  & #content-wrapper {
    padding: 90px 0 0;

    @include mqmax(tablet) {
      padding: 0;
    }
  }



  & .category-top-menu>li:first-child {
    display: none;
  }

  & .block-categories {
    padding-top: 90px;
    padding-left: 36px;

    & li.selected>a {
      font-weight: 800;
    }

    & li>a:hover {
      font-weight: 800;
    }
  }

  & #search_filters_wrapper {
    @include mqmax(tablet) {
      padding: 30px 25px;
      border: 1px solid #000;
    }

    @include mqmax(mobile-xl) {
      position: relative;
      border: none;
      padding: 90px 25px 120px;
    }

    &::after {
      @include mqmax(mobile-xl) {
        display: block;
        content: '';
        position: absolute;
        top: 70px;
        height: 1px;
        background: #EAEAEA;
        left: 0;
        right: 0;
      }
    }
  }

  & #search_filter_controls {
    & .custom-close-filters {
      position: absolute;
      top: 35px;
      left: 25px;
      transform: translateY(-50%);
      display: none;
      padding: 1px 6px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 120%;
      background: none;
      letter-spacing: 2.4px;
      font-weight: 400;
      text-transform: uppercase;

      @include mqmax(mobile-xl) {
        display: flex;
      }

      & i {
        margin-right: 15px;
        width: 25px;
        height: 25px;
        position: relative;

        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          top: 50%;
          left: 0;
          background-color: #000;
          border-radius: 1px;
          transform-origin: 50%;
          transform: translateY(-1px) rotate(-45deg);
        }

        &::before {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          top: 50%;
          left: 0;
          background-color: #000;
          border-radius: 1px;
          transform-origin: 50%;
          transform: translateY(-1px) rotate(45deg);
        }
      }
    }

    & .custom-show-products {
      display: none;
      position: absolute;
      min-width: 200px;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 30px;
      margin: 0;
      border: none;
      color: #fff;
      font-size: 16px;
      line-height: 120%;
      background: #000;
      letter-spacing: 2.4px;
      font-weight: 800;
      text-transform: uppercase;

      @include mqmax(mobile-xl) {
        display: block;
      }


    }
  }

  & #search_filters {
    box-shadow: none;
    padding-left: 36px;

    & #_desktop_search_filters_clear_all {
      display: none;
    }

    &>.h6 {
      font-weight: 400;
      width: 100%;
      display: inline-block;
      padding-bottom: 0;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }

    & .facet {
      padding-top: 10px;

      ul {
        padding-left: 15px;

        @include mqmax(tablet) {
          padding-left: 0px;
        }
      }
    }

    & .facet-title {
      font-weight: 800;
      width: 100%;
      font-size: 16px;
      color: #000;
      line-height: 120%;
      letter-spacing: 1.28px;
      text-transform: uppercase;

    }

    & .facet-label a {
      font-size: 13px;
      letter-spacing: 1.04px;
    }

    & .faceted-slider {

      & p {
        font-size: 13px;
        line-height: 120%;
        color: #000;
        letter-spacing: 1.04px;
      }
    }

    & .ui-slider-horizontal {
      height: 10px;
      width: calc(100% - 10px);
      background: #EAEAEA;
      border: none;
      border-radius: 0;

      & .ui-widget-header {
        background: #EAEAEA;
      }

      & .ui-slider-handle {
        top: -10px;
        width: 20px;
        height: 30px;
        border: 1px solid black;
        border-radius: 0;
        outline: none;
      }
    }
  }

  & #search_filter_toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: none;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    box-shadow: none;

    @include mqmax(mobile-xl) {
      min-height: 79px;
    }

    & i {
      font-size: 20px;
      margin-right: 15px;
    }
  }



  & li[data-depth="0"] {
    margin-top: 35px;

    &>a {
      margin-top: 0;
    }

    & .category-sub-menu {
      margin-top: 15px;
    }
  }

  & li[data-depth="1"] {
    position: relative;
    margin-bottom: 20px;

    &>a {
      display: block;
    }

    &>.arrows {
      position: absolute;
      top: 0;
      right: 10px;

      & .material-icons {
        font-weight: 800;

        &.arrow-right {
          transform: rotate(-90deg);
          margin-left: 0;
          margin-top: 2px;
        }
      }
    }

    & .category-sub-menu {
      margin-top: 10px;
    }
  }

  & li[data-depth="2"] {
    margin-bottom: 10px;

    & a {
      text-transform: uppercase;
    }
  }

  & #js-product-list-header {
    display: none;
  }

  & .products-selection {
    margin-bottom: 30px;
  }

  & .products-selection .sort-by-row {
    justify-content: space-between;
    padding: 0 36px;

    @include mqmax(tablet) {
      min-height: 80px;
      border-bottom: 1px solid #EAEAEA
    }

    @include mqmax(mobile) {}

    &::after {
      display: none;
    }

    & .filter-button {
      @include mqmax(mobile-xl) {
        flex-basis: calc(50% + 1px);
        border-right: 1px solid #EAEAEA;
      }
    }

    & #product-list-header {
      & .header {
        color: #000;
        font-weight: normal;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
      }

      & .products-count {
        font-weight: normal;
        font-size: 13px;
        line-height: 120%;
        text-transform: lowercase;
        margin-bottom: 2px;
      }
    }

    & .products-sort-order {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include mqmax(mobile-xl) {
        flex-basis: 50%;
        min-height: 79px;
      }

      & .sort-by {
        margin: 0 15px 0 0;
        font-size: 13px;
        color: #000;
        line-height: 120%;
        font-weight: 800;
        word-break: normal;
      }

      & .select-title {
        min-width: 215px;
        box-shadow: none;
        border: 1px solid #000000;

        @include mqmax(mobile-xl) {
          min-width: auto;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & span {
          font-size: 13px;
          line-height: 24px;

          @include mqmax(mobile-xl) {
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            font-size: 16px;
            line-height: 120%;
            font-weight: 400;
            box-shadow: none;
          }

          & i {
            @include mqmax(mobile-xl) {
              font-size: 20px;
              margin-right: 15px;
            }
          }
        }
      }

      & .custom-sort-menu-wrapper {
        @include mqmax(mobile-xl) {
          display: none;
          z-index: 10000;
          top: 0;
          left: 0;
          position: fixed;
          right: 0;
          bottom: 0;
          overflow: scroll;
          min-width: 310px;
          width: 91%;
          max-width: 100%;
          background: #fff;
        }

        &::after {
          @include mqmax(mobile-xl) {
            display: block;
            content: '';
            position: absolute;
            top: 70px;
            height: 1px;
            background: #EAEAEA;
            left: 0;
            right: 0;
          }
        }
      }

      & .custom-close-sort {
        position: absolute;
        top: 35px;
        left: 25px;
        display: none;
        padding: 1px 6px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 120%;
        background: none;
        letter-spacing: 2.4px;
        font-weight: 400;
        transform: translateY(-50%);
        text-transform: uppercase;

        & i {
          margin-right: 15px;
          width: 25px;
          height: 25px;
          position: relative;

          &::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            top: 50%;
            left: 0;
            background-color: #000;
            border-radius: 1px;
            transform-origin: 50%;
            transform: translateY(-1px) rotate(-45deg);
          }

          &::before {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            top: 50%;
            left: 0;
            background-color: #000;
            border-radius: 1px;
            transform-origin: 50%;
            transform: translateY(-1px) rotate(45deg);
          }
        }

        @include mqmax(mobile-xl) {
          display: flex;
        }
      }

      & .custom-show-sorted {
        display: none;
        position: absolute;
        min-width: 200px;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 30px;
        margin: 0;
        border: none;
        color: #fff;
        font-size: 16px;
        line-height: 120%;
        background: #000;
        letter-spacing: 2.4px;
        font-weight: 800;
        text-transform: uppercase;

        @include mqmax(mobile-xl) {
          display: block;
        }
      }

      & .dropdown-menu {
        left: auto;
        right: 0;

        @include mqmax(mobile-xl) {
          display: none;
          position: static;
          left: auto;
          right: auto;
          bottom: auto;
          top: auto;
          padding: 90px 25px 120px;
          box-shadow: none;
          background: none;
          width: 100%;
        }

        &>a {
          @include mqmax(mobile-xl) {
            position: relative;
            padding: 10px 10px 10px 40px;
          }

          &::before {

            @include mqmax(mobile-xl) {
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              content: '';
              background: #fff;
              width: 20px;
              height: 20px;
              border: 1px solid black;
              border-radius: 50%;
            }
          }

          &.current::after {

            @include mqmax(mobile-xl) {
              position: absolute;
              left: 14px;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              content: '';
              background: #000;
              width: 12px;
              height: 12px;
              border: 1px solid black;
              border-radius: 50%;
            }
          }
        }

      }
    }
  }

  & #products .products {
    padding: 0 18px;

    @include mqmax(tablet) {
      padding: 0 19px;
    }

    @include mqmax(mobile) {
      padding: 0 14px;
    }
  }

  & #products .products div[itemprop="itemListElement"] {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin-bottom: 45px;

    @include mqmax(tablet) {
      width: 50%;
      margin-bottom: 56px;
    }
  }


  & .product-flags li.product-flag {
    display: none;
  }

  & #products .product-miniature {
    margin: 0 18px;

    @include mqmax(tablet) {
      margin: 0 16px;
    }
  }

  & #products .thumbnail-container {
    width: 100%;
    height: auto;
    box-shadow: none;

    & .product-description {
      position: static;
      width: 100%;
      height: auto;
      box-shadow: none;
    }

    & .highlighted-informations {
      display: none;
    }

    & .variant-sizes {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: #EAEAEA;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s;

      &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        min-height: 58px;
        padding: 10px 10px;
      }

      &__item {
        font-size: 16px;
        line-height: 10px;
        padding: 5px 8px;
        text-decoration: line-through;

        &.available {
          text-decoration: none;
          font-weight: 800;
        }
      }
    }

    & .product-thumbnail:hover .variant-sizes {
      opacity: 1;
    }

    & .product-thumbnail {

      height: calc((1/3) * (75vw - 144px) * 1.5);

      @include mqmax(desktop-sm) {
        height: calc((1/3) * (100vw - 300px - 144px) * 1.5);
      }

      @include mqmax(tablet) {
        height: calc((1/2) * (100vw - 102px) * 1.5);
      }

      @include mqmax(mobile) {
        height: calc((1/2) * (100vw - 92px) * 1.5);
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.replace-img {
          opacity: 0;
          transition: all .3s ease-out;
        }
      }
    }

    &:hover img.replace-img {
      opacity: 1;
    }
  }

  & #products .products .product-title {
    text-align: left;
    margin: 15px 0 9px;

    &>a {
      color: #000;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 1.28px;
      word-break: break-word;

      @include mqmax(mobile) {
        font-size: 14px;
        ;
        letter-spacing: 1.12px;
      }
    }
  }

  & .product-price-and-shipping {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
    font-weight: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;

    & .discount-product {
      display: block;
      background: #000;
      color: #fff;
      margin-left: auto;
      padding: 5px 14px;

      @include mqmax(desktop) {
        position: absolute;
        top: 15px;
        left: 0;
        z-index: 5;
      }

      @include mqmax(tablet) {
        position: static;
      }

      @include mqmax(tablet-sm) {
        position: absolute;
      }
    }
  }

  & #products .price {
    margin-top: 5px;
    margin-right: 20px;
  }

  & #products .regular-price {
    font-size: 1em;
    color: #A5A5A5;
    margin-top: 5px;
    margin-right: 20px;
  }
}