.fixed-left-box {
  position: fixed;
  left: 0px;
  top: 85%;
  text-align: center;
  z-index: 9;

  @include mqmax(tablet-sm) {
    top: auto;
    bottom: 0px;
    display: none;
  }

  & .upper-side {
    padding: 3px;
    color: black;
    background: white;

    & a {
      color: black;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  & .bottom-side {
    background-color: black;
    padding: 3px 5px;
    color: white;
    font-size: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}


#mc_embed_signup {
  // display: flex;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 760px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;

  @include mqmax(tablet-sm) {
    width: 400px;
  }

  @include mqmax(mobile) {
    width: 330px;
  }

  &.form-popup-show {
    display: flex;

    @include mqmax(tablet-sm) {
      display: block;
    }
  }

  & .form-popup-text {
    text-align: center;

    &__headline {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &__paragraph {
      font-size: 7px;
      line-height: 250%;
    }
  }

  & #mc-embedded-subscribe-form {
    box-sizing: border-box;
    padding: 40px 60px 20px 50px;

    @include mqmax(mobile) {
      padding: 20px 20px 20px 20px;
    }
  }

  & .popup-exit {
    position: absolute;
    color: #96A3AA;
    top: 8px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  & .popup-box-img {
    flex-basis: 50%;
    background-position: center;
    background-size: cover;
  }

  & form {
    flex-basis: 50%;
  }

  & .form-logo-photo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  & .form-popup-container {
    display: flex;
    flex-direction: column;
  }

  & .form-popup-logo {
    display: flex;
    justify-content: center;
  }

  & #mc_embed_signup_scroll .button-popup {
    background-color: black;
    color: white;
    border: 0px;
    margin-top: 40px;
    width: 80%;
    text-align: center;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
  }

  & .mc-field-group {
    display: flex;
    justify-content: center;
  }

  & .input-popup-mailchimp {
    margin-top: 2px;
    padding: 10px 5px 10px 10px;
    font-size: 10px;
    width: 100%;
    border: 1px solid #767676,;
    border-radius: 5px;
  }

  & .button-form-box {
    display: flex;
    justify-content: center;
  }

  & .form-text--small {
    margin-top: 10px;
    font-size: 7.4px;
    line-height: 140%;
    color: #777;
  }

  & .box{
    border: none;

    & .page-subheading{
      border: none;
    }
  }

  & #cart_navigation{
    text-align: left;
  }
}
