$header-top-offset: 45px;
$header-height-desktop: 243px;
$header-height-tablet: 182px;

/*****
*
* Default Header
*
*****/
body {
  &.nav-is-open {
    @include mqmax(tablet) {
      overflow: hidden;
    }
  }

  &.fixed-navigation {

    & #header {

      @include mqmin(desktop-sm) {
        height: 143px !important;
      }

      &.nav-box-shadow {

        @include mqmin(desktop-sm) {
          box-shadow: 0 10px 6px -12px #777;
        }
      }

      & nav.header-nav {

        & #top-menu-row {

          @include mqmin(desktop-sm) {
            padding: 0 36px 0 !important;
            height: 35px !important;
          }

          & #top-menu-left {
            @include mqmin(desktop-sm) {
              top: 36px;
            }
          }

          & #containerLogoMain {

            & #logoMainHome {
              @include mqmin(desktop-sm) {
                margin-top: -150px !important;
              }
            }
          }

          & #top-menu-right {
            @include mqmin(desktop-sm) {
              top: 29px;
            }
          }
        }
      }


      & .header-top {

        & #block_top_menu {

          & #_desktop_top_menu {

            & #top-menu {

              & #header_logo {
                @include mqmin(desktop-sm) {
                  width: 63px !important;
                  padding: 0.1875rem 0.625rem 0.375rem;
                }
              }

              & #header_logo_image {
                @include mqmin(desktop-sm) {
                  opacity: 1 !important;
                }
              }

              &>li>.sub-menu {
                @include mqmin(desktop-sm) {
                  top: 143px !important;
                  max-height: calc(100vh - 143px);
                }
              }
            }
          }
        }
      }
    }
  }
}

#wrapper {
  padding-top: 0;

  @include mqmin(desktop-sm) {
    margin-top: calc(#{$header-height-desktop} + 8px) !important;
  }

  @include mqmax(tablet) {
    margin-top: calc(#{$header-height-tablet} + 8px) !important;
  }
}

#header {
  position: fixed;
  width: 100%;
  height: $header-height-desktop;
  // top: 25px;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  transition: all .3s ease-out;

  @include mqmax(tablet) {
    height: $header-height-tablet !important;
  }

  &.nav-box-shadow:not(.is-open) {
    @include mqmax(tablet) {
      box-shadow: 0 10px 6px -12px #777;
    }
  }

  &.is-open {
    & nav.header-nav {
      & .mobile #menu-icon {
        & .menu-icon__box {

          &::after {
            transform: translateY(-10px) rotate(-45deg);
          }

          &::before {
            transform: translateY(10px) rotate(45deg);
          }
        }

        & .menu-icon__inner {
          opacity: 0;
        }
      }
    }

    & .header-top {
      @include mqmax(tablet) {
        display: block;
      }

      & #mobile_top_menu_wrapper {
        @include mqmax(tablet) {
          display: flex !important;
        }
      }
    }
  }

  & a:not(.custom-remove-button):before {

    @include mqmin(desktop-sm) {
      display: block;
      content: attr(link-title);
      font-weight: 800;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  & ul a:hover {

    @include mqmin(desktop-sm) {
      text-decoration: none;
      font-weight: 700;
    }
  }

  & .top-info-block__wrapper {
    background-color: var(--black);
    min-height: 40px;
    position: sticky;
    z-index: 999;

    @include mqmax(tablet) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9999;
    }

    @include mqmax(mobile-sm) {
      height: 64px;
    }

    & .top-info-block__content {
      text-transform: uppercase;
      font-family: var(--montserrant);
      font-size: 0.8125rem;
      line-height: 1.25rem;
      text-align: center;
      color: var(--white);
      font-weight: 700;
      padding: 0 12px;
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 40px;

      @include mqmax(mobile-sm) {
        line-height: 1.25rem;
      }

      & span {
        white-space: break-spaces;
      }
    }
  }

  & nav.header-nav {
    position: relative;
    max-height: none;
    margin-bottom: 0;

    @include mqmax(tablet) {
      position: fixed;
      top: 40px;
      left: 0;
      right: 0;
      display: flex;
      height: $header-height-tablet - 40px;
      align-items: center;
      justify-content: center;
      z-index: 10000000;
      background: #fff;
    }

    & #top-menu-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: $header-top-offset 36px 45px;
      height: 140px;
      transition: all .3s ease-out;

      @include mqmax(tablet) {
        position: absolute;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
      }

      &::after {
        display: none;
      }

      & #top-menu-left {
        font-size: 9px;
        line-height: 160%;
        position: relative;
        z-index: 1;
        letter-spacing: 2px;
        display: flex;
        flex-direction: row;
        transition: 0.3s all linear;

        @include mqmin(desktop-sm) {
          position: absolute;
          top: 45px;
          left: 36px;
          transition: .3s all linear;
        }

        @include mqmax(tablet) {
          display: none;
        }

        &>.delivery-icon {
          padding: 1px 10px 0px 0px;
          font-size: 14px;
          display: flex;
          align-items: center;
        }

        &>.delivery-desc {
          position: relative;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          & .free-shipping-btn {
            z-index: 99;
            cursor: pointer;

            & .free-shipping-tooltip {
              position: absolute;
              display: none;
              top: calc(100% + 3px);
              left: 0;
              font-size: 8px;
              width: max-content;
            }

            &:hover .free-shipping-tooltip {
              display: block;
            }
          }
        }
      }

      & #containerLogoMain {
        display: flex;
        justify-content: center;

        & .logoMain {
          height: 50px;
          transition: 0.2s all ease-out;

          @include mqmax(tablet) {
            height: 34px;
          }
        }
      }

      & #top-menu-right {
        clear: both;
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: 0.3s all linear;

        @include mqmin(desktop-sm) {
          position: absolute;
          top: 45px;
          right: 36px;
          transition: .3s all linear;
        }

        @include mqmax(tablet) {
          padding: 0;
          margin: 0;
        }

        @include mqmax(tablet-sm) {
          position: relative;
        }

        @include mqmax(mobile) {
          padding: 0px;
        }

        & li.current.selected .dropdown-item {
          @include mqmin(desktop-sm) {
            font-weight: 700;
          }
        }


        & .blockcart {
          overflow-y: visible;

          @include mqmax(tablet-sm) {
            margin-left: 0;
            background: inherit;
          }

          &.active {
            @include mqmax(tablet-sm) {
              margin-left: 0.5rem;
            }
          }

          & .header {
            font-size: 18px;
            line-height: 22px;
            position: relative;
            text-align: center;
            white-space: nowrap;

            & .cart-products-count {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
              width: 20px;
              top: -15px;
              right: -15px;
              background: #000;
              color: white;
              border-radius: 50%;
              font-size: 11px;
              line-height: 15px;
              letter-spacing: 0;
              cursor: pointer;
            }
          }
        }

        & #_desktop_user_info {
          font-size: 13px;
          line-height: 16px;
          font-family: "Montserrat";
          letter-spacing: 1.04px;

          @include mqmin(desktop-sm) {
            padding: 10px 8px;
          }

          & a {
            font-size: 13px;
            line-height: 16px;
            font-family: "Montserrat";
            letter-spacing: 1.04px;
            text-transform: uppercase;
          }

          & a:hover {
            text-decoration: none;
            font-weight: 700;
          }

          & .user-info {
            text-align: center;
            white-space: nowrap;

            & .logged {
              color: #2fb5d2;
            }
          }
        }

        & #_desktop_cart {
          font-size: 13px;
          line-height: 16px;
          font-family: "Montserrat";
          letter-spacing: 1.04px;

          @include mqmin(desktop-sm) {
            padding: 10px 8px;
          }

          & .expand-more {
            transform: rotate(0deg);
            margin-left: 10px;
            transition: .3s;
          }

          &.open .expand-more {
            transform: rotate(180deg);
          }
        }



        & #_desktop_currency_selector {
          & .currency-selector {
            padding: 10px 8px;
            font-size: 13px;
            line-height: 16px;
            font-family: "Montserrat";
            letter-spacing: 1.04px;
            white-space: nowrap;

            &>button {
              cursor: pointer;
            }

            & .expand-more {
              transform: rotate(0deg);
              margin-left: 3px;
              transition: .3s;
            }

            &.open .expand-more {
              transform: rotate(180deg);
            }

            & .dropdown-menu {
              left: 50%;
              transform: translateX(-50%);
              min-width: auto;
              padding: 4px 15px 6px;
            }
          }
        }

        & #_desktop_language_selector {
          & #languages-block-top {
            padding: 10px 8px;
            font-size: 13px;
            line-height: 16px;
            font-family: "Montserrat";
            letter-spacing: 1.04px;
            white-space: nowrap;

            &>button {
              cursor: pointer;
            }

            & .expand-more {
              transform: rotate(0deg);
              margin-left: 3px;
              transition: .3s;
            }

            &.open .expand-more {
              transform: rotate(180deg);
            }

            & #first-languages {
              left: 50%;
              transform: translateX(-50%);
              padding: 4px 15px 6px;
              min-width: 127px;

              & img {
                margin-right: 10px;
              }

              & .dropdown-item {
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 1.04px;
                padding: 0;
                text-transform: uppercase;
              }
            }

            & .dropdown-item {
              font-size: 13px;
              line-height: 24px;
              letter-spacing: 1.04px;
              padding: 0;
              text-transform: uppercase;
            }

            & img {
              box-shadow: 0 0 0px 1px #eee;
              height: 14px !important;
              width: auto !important;
              object-fit: contain;
            }
          }
        }
      }
    }

    & .mobile {

      @include mqmax(tablet) {
        padding-right: 30px;
      }

      & #menu-icon {
        z-index: 9999;
        position: relative;
        transition: transform 0.3s ease-in-out;

        & .menu-icon__box {
          position: relative;
          display: inline-block;
          width: 31px;
          height: 20px;
          overflow: hidden;

          &::after {
            @include hamburger-line;

            content: "";
            left: 0;
            transition: transform 0.2s ease-in-out;
            display: block;
            bottom: 0px;
          }

          &::before {
            @include hamburger-line;

            content: "";
            left: 0;
            transition: transform 0.2s ease-in-out;
            display: block;
            top: 0px;
          }
        }

        & .menu-icon__inner {
          @include hamburger-line;

          right: 50%;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
          transition: opacity 0.1s ease-in-out;
        }
      }

      & .blockcart {
        overflow-y: visible;
        
        &.inactive .cart-products-count {
          @include mqmax(tablet) {
            display: none;
          }
        }

        & .header {
          font-size: 18px;
          line-height: 22px;
          position: relative;
          text-align: center;
          white-space: nowrap;

          & .cart-products-count {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            top: -15px;
            right: -15px;
            background: #000;
            color: white;
            border-radius: 50%;
            font-size: 11px;
            line-height: 15px;
            letter-spacing: 0;
            cursor: pointer;
          }
        }

        & .float-xs-right {
          @include mqmax(tablet) {
            vertical-align: middle;
            margin: 0 1rem;
          }
        }
      }

      & #_mobile_cart {
        z-index: 9999;
        position: relative;

        & .expand-more {
          margin-left: 10px;
        }
      }

      & #_mobile_user_info {
        z-index: 9999;
        position: relative;

        & .user-info {
          text-align: center;
          white-space: nowrap;

          & .logged {
            color: #2fb5d2;
          }
        }
      }
    }
  }

  & .header-top {
    padding-bottom: 0;

    @include mqmax(tablet) {
      position: fixed;
      top: 182px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      z-index: 9999999;
      overflow: scroll;
      display: none;
    }

    & .top-menu {
      & .sub-menu {
        @include mqmin(desktop-sm) {
          transition: opacity 0.5s 0.1s ease, visibility 0.5s 0.1s ease;
        }
      }
    }

    & #block_top_menu {

      @include mqmax(tablet) {
        display: none;
      }

      & #_desktop_top_menu {
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        & #top-menu {
          display: flex;
          justify-content: center;
          margin-bottom: 0;

          &>li {
            & #header_logo {

              &>a {
                padding: 0;
              }

              & #header_logo_image {
                transition: 4s;
                opacity: 0;
              }
            }

            &>div:not(#header_logo) {
              padding: 50px 25px 70px;
              border: 1px solid #D4D4D4;

              &>ul {
                max-width: 1520px;
                margin-left: auto;
                margin-right: auto;
              }
            }

            &>.sub-menu {
              top: $header-height-desktop !important;
              width: 100%;
              max-height: calc(100vh - 243px);
              overflow-y: auto;
              margin: 0;
              box-sizing: border-box;
              max-width: 100%;
              box-shadow: none;
            }
          }

          & a[data-depth="1"] {
            font-weight: 400;
            text-align: center;
          }

          & a:hover {
            text-decoration: none;
            font-weight: 700;
          }

          & a[data-depth="0"] {
            letter-spacing: 1px;
            font-size: 13px;
            text-align: center;
          }

          & #header_logo_image {
            transition: 4s;
            opacity: 0;
          }

          & .main-shop-menu>ul.top-menu {
            display: flex;
            flex-direction: row;

            &>li {
              display: flex;
              flex-direction: row;

              &>a {
                border-right: 1px solid #D4D4D4;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 1.6px;
                padding: 0 18px 0 0;
                margin-right: 18px;
                font-weight: 400;

                @include mqmax(desktop-sm) {
                  font-size: 18px;
                  line-height: 22px;
                  letter-spacing: 1.5px;
                }
              }

              & a:hover {
                text-decoration: none;
                font-weight: 800;
              }

              &#category-11 {
                margin-left: 0;
                order: 1;
              }

              &#category-23 {
                order: 2;
              }

              &#category-37 {
                max-width: 627px;
                margin-left: auto;
                margin-right: 0;
                order: 3;

                &>a {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  border-right: none;
                  text-transform: uppercase;
                  margin-right: 0;
                  margin-left: 35px;
                  padding-right: 0;

                  &>img {
                    margin-top: 10px;
                  }
                }
              }
            }

            &>li:last-child {

              &>a {
                border-right: none;
              }
            }

            & .top-menu[data-depth="2"] {
              &>li {
                &.category:first-child {
                  margin-top: 3px;
                }

                &.category:not(:first-child) {
                  margin-top: 16px;
                }

                &>a {
                  font-weight: 800;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: 1.28px;
                  padding-bottom: 6px;

                  @include mqmax(desktop-sm) {
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 1.2px;
                  }
                }
              }
            }

            & .top-menu[data-depth="3"] {
              &>li {
                &>a {
                  font-size: 13px;
                  line-height: 26px;
                  letter-spacing: 1.04px;
                  padding: 0;
                  text-transform: uppercase;

                  @include mqmax(desktop-sm) {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: 1.0px;
                  }
                }
              }
            }
          }

          & .custom-menu {
            display: flex;
            flex-direction: row;

            &>li {
              width: 25%;

              & .custom-link {
                display: flex;
                flex-direction: column;
                height: 100%;

                & span {
                  text-align: center;
                  margin-top: 20px;
                }
              }
            }

            & .submenu-custom-img {
              width: 100%;
              height: 100%;
              display: block;
              object-fit: cover;
            }
          }

          & .submenu-cat-sale {
            display: block;
            width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    & #mobile_top_menu_wrapper {

      @include mqmax(tablet) {
        flex-direction: column;
        min-height: calc(100% - 20px);
      }

      & #top-menu {

        &>li {
          &>.dropdown-item {
            position: relative;

            & .float-xs-right {
              & .collapse-icons {
                position: absolute;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                top: 50%;
                right: 12px;
                width: calc(95vw - 40px);
                height: 100%;
                transform: translateY(-50%);

                &[aria-expanded="true"] {
                  display: none;
                }

                & .add {
                  font-size: 18px;
                  transform: rotate(-90deg);
                }

                & .remove {
                  font-size: 18px;
                  transform: rotate(-90deg);
                }
              }
            }
          }

          &>.sub-menu {
            padding: 0;
            transition: all 0s ease-out;
            display: none;

            li>a {
              padding-top: 7px;
              padding-bottom: 8px;
            }

            & ul[data-depth="1"]>li>a {
              font-size: 18px;
              line-height: 26px;
              letter-spacing: 1.44px;
            }

            & ul[data-depth="2"]>li>a {
              text-transform: uppercase;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 1.28px;
              font-weight: 700;
              padding-left: 30px;
            }

            & ul[data-depth="3"] li a {
              padding-left: 30px;
              font-size: 16px;
              line-height: 26px;
              letter-spacing: 1.28px;
            }
          }
        }

        & .custom-menu .submenu-custom-img {
          @include mqmax(tablet) {
            display: none;
          }
        }

        & #aboutus-menu .submenu-aboutus-img {
          @include mqmax(tablet) {
            display: none;
          }
        }

        & .submenu-cat-sale {
          @include mqmax(tablet) {
            display: none;
          }
        }



        & .navbar-toggler {
          width: 4em;
          text-align: right;

          &[aria-expanded="true"] .remove {
            display: inline-block;
          }
        }



        &>li>a[data-depth="0"] {
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 1.44px;
          padding-top: 28px;
          padding-bottom: 28px;
        }
      }

      & #top-menu.submenu-expanded {
        position: relative;

        &>li {
          &.submenu-active {
            &>.dropdown-item {
              position: absolute;
              top: 0;
              left: 0;
              padding: 0.625rem 0 0.625rem 30px;
              border: none;
              font-size: 13px;
              line-height: 26px;
              letter-spacing: 1.04px;

              & .float-xs-right {
                float: left !important;

                & .collapse-icons {
                  transform-origin: 50% 10px;

                  &[aria-expanded="true"] {
                    position: absolute;
                    display: flex;
                    top: 50%;
                    left: 6px;
                    width: calc(95vw - 40px);
                    transform: translateY(-50%);
                    justify-content: flex-start;
                    align-items: center;
                  }

                  &[aria-expanded="false"] {
                    display: none;
                  }
                }
              }
            }

            &>.sub-menu {
              padding-top: 60px;

              &[aria-expanded="true"] {
                height: auto !important;
                display: block;
              }
            }
          }

          &:not(.submenu-active) {
            display: none;

            padding-top: 28px;
            padding-bottom: 28px;
          }
        }
      }

      &>.js-top-menu-bottom {
        position: relative;

        @include mqmax(tablet) {
          flex-grow: 1;
          margin-top: 70px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 80px;
        }

        & i.expand-more {
          position: absolute;
          right: 8px;
          top: 50%;
          margin-left: 3px;
          transform: translateY(-50%) rotate(-90deg);
          text-transform: uppercase;
          transition: .3s;
          font-size: 15px;
        }

        & .btn-unstyle {
          position: relative;
          cursor: pointer;
          padding: 0.625rem;
          text-transform: uppercase;

          &[aria-expanded="true"] i.expand-more {
            transform: translateY(-50%) rotate(0);
          }
        }

        & .dropdown-menu {
          font-size: 13px;
          line-height: 26px;
          padding: 0;
        }

        & li {
          &:last-child {
            border-bottom: 1px solid #EAEAEA;
          }

          & a {
            padding: 0 0 0 1.875rem;
          }

          &.current a,
          &.selected a {
            font-weight: 700;
          }
        }

        & .currency-selector {
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          line-height: 26px;
          border-bottom: 1px solid #EAEAEA;

          @include mqmax(tablet) {
            display: flex;
            flex-direction: column;
          }

          & .dropdown-menu {

            @include mqmax(tablet) {
              order: 1;
              position: static;
              border: none;
            }
          }

          &>button {

            @include mqmax(tablet) {
              order: 2
            }
          }
        }

        & .language-selector-wrapper {
          border-top: 1px solid #EAEAEA;
          border-bottom: 1px solid #EAEAEA;
          padding: 0;

          & .language-selector {
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            line-height: 26px;

            @include mqmax(tablet) {
              display: flex;
              flex-direction: column;
            }

            & .dropdown-menu {

              @include mqmax(tablet) {
                order: 1;
                position: static;
                border: none;
              }
            }

            &>button {

              @include mqmax(tablet) {
                order: 2
              }
            }
          }
        }

        & .user-info {
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          line-height: 26px;
          border-bottom: 1px solid #EAEAEA;

          & a {
            color: #000;
          }
        }
      }
    }
  }

  & .cart-hover-content {
    position: absolute;
    right: 0;
    left: auto;
    bottom: auto;
    top: 75px;
    width: 440px;
    max-height: 600px;
    overflow-y: auto;
    padding: 25px;
    background: #fff;
    border: 1px solid black;
    cursor: default;

    @include mqmax(tablet) {
      top: 45px;
      max-width: calc(100vw - 45px)
    }

    .cart-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 125%;

      & .value {
        font-weight: 800;
      }
    }
  }

  & .blockcart .blockcart-custom-container {
    display: flex;
    align-items: center;
    overflow: visible;
    cursor: pointer;
  }

  & .cart-wishlist-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 25px;
    border-bottom: 1px solid #B7B7B7;

    &+.cart-wishlist-item {
      padding-top: 25px;
    }

    &:last-child {
      border-bottom-color: #000;
    }

    & .minicart-img img {
      height: 80px;
      width: 55px;
      object-fit: cover;
      object-position: center;
    }

    & .remove-from-cart {
      margin-top: 12px;
    }
  }

  & .minicart-item-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;

    &:hover {
      text-decoration: none;
      font-weight: 400;
    }
  }

  & .minicart-item-details {
    flex-grow: 1;
    padding: 12px;
    line-height: 130%;
    font-size: 14px;
    text-transform: uppercase;

    & .minicart-item-name {
      font-weight: 800;
    }

    & .minicart-item-attributes {
      display: flex;
      flex-direction: row;
    }

    & .minicart-item-price {
      font-weight: 800;
    }
  }

  & .cart-wishlist-finalize {
    display: block;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    font-weight: 800;

    &:hover {
      color: #fff;
      background-color: var(--main-hot-color-hover);
      border-color: transparent;
    }
  }
}

.custom-remove-button {
  width: 15px;
  height: 15px;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #000;
    transform-origin: 50%;
    transform: translateY(-1px) rotate(45deg);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #000;
    transform-origin: 50%;
    transform: translateY(-1px) rotate(-45deg);
  }
}