#csinstagramfeed {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1920px;
  padding-left: 30px;
  padding-right: 30px;

  .instaHeader {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 36px;
    margin-bottom: 36px;
    margin-top: 6px;
  }

  .bx-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;

    @include mqmax(mobile) {
      .picture.item {
        width: 134px !important;
        height: 134px !important;
        
        img {
          width: 134px !important;
          height: 134px !important;
        }
      }
    }

    .bx-prev:before, .bx-next:before {
      content: unset;
    }
  }

  .bx-wrapper .bx-controls-direction a {
    top: 50%;
  }
}