#loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  z-index: 999999999;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
#loader.loader{
  opacity: .9;
  // transition:none !important;
  visibility:visible;
}
#loader.loader:before{
  content: url("../img/logo-square.png");
  animation: visible 1.5s infinite ease; 
  filter: grayscale(100%);
}   