.exchange {
	text-align: center;

	& * {
		color: black;
	}

	strong {
		font-weight: 800;
	}
	&__header {
		font-size: 64px;
		letter-spacing: 9.6px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-weight: 800;
	}

	&__desc {
		max-width: 680px;
		margin-left: auto;
		margin-right: auto;

		& > p {
			margin-bottom: 20px;
		}

		& :nth-child(1) {
			margin-bottom: 55px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 22px;

		&--wide {
			font-size: 14px;
			letter-spacing: 2.1px;
		}
	}

	.exchange-steps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 100px 0;
		&__box {
			// height: 150px;
			position: relative;
			max-width: 278px;
			// margin-bottom: 40px;
			z-index: 1;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 64px;
				height: 150px;
				background-color: #f8f8f8;
				z-index: -1;
			}
		}

		&__arrow {
			.fa-angle-right:before {
				font-size: 30px;
			}
		}
	}
}
